<body>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="enable" />
    <label class="form-check-label" for="enable"> Default checkbox </label>
  </div>

  <label for="kernelY" class="form-label">Kernel - Y</label>
  <input
    type="range"
    class="form-range"
    value="0"
    min="0"
    max="50"
    id="kernel-y"
    class="mb-3"
  />

  <label for="kernelY" class="form-label">Kernel - X</label>
  <input
    type="range"
    class="form-range"
    value="0"
    min="0"
    max="50"
    id="kernel-x"
    class="mb-3"
  />

  <label for="kernelY" class="form-label">Kernel Filtro 2D - Y</label>
  <input
    type="range"
    class="form-range"
    value="0"
    min="0"
    max="50"
    id="kernelF-y"
    class="mb-3"
  />

  <label for="kernelY" class="form-label">Kernel Filtro 2D - X</label>
  <input
    type="range"
    class="form-range"
    value="0"
    min="0"
    max="50"
    id="kernelF-x"
    class="mb-3"
  />
  <label for="kernelY" class="form-label">Threshold 1</label>
  <input
    type="range"
    class="form-range"
    value="0"
    min="0"
    max="255"
    id="thresh1"
    class="mb-3"
  />
  <label for="kernelY" class="form-label">Threshold 2</label>
  <input
    type="range"
    class="form-range"
    value="0"
    min="0"
    max="255"
    id="thresh2"
    class="mb-3"
  />
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="external"
    />
    <label class="form-check-label" for="external"> Contornos Externos </label>
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="internal"
    />
    <label class="form-check-label" for="internal"> Contornos Internos </label>
  </div>
  <script>
    $("#enable").on("click", () => {
      var formData = new FormData();
      formData.append("edges", $("#enable").prop("checked"));
      $.ajax({
        url: "/edges",
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        type: "POST",
      });
    });

    $("#kernel-y").on("input", () => {
      var formData = new FormData();
      formData.append("kernel", $("#kernel-y").val());
      $.ajax({
        url: "/kernelY",
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        type: "POST",
      });
    });

    $("#kernel-x").on("input", () => {
      var formData = new FormData();
      formData.append("kernel", $("#kernel-x").val());
      $.ajax({
        url: "/kernelX",
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        type: "POST",
      });
    });

    $("#kernelF-y").on("input", () => {
      var formData = new FormData();
      formData.append("kernel", $("#kernelF-y").val());
      $.ajax({
        url: "/kernelFY",
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        type: "POST",
      });
    });

    $("#kernelF-x").on("input", () => {
      var formData = new FormData();
      formData.append("kernel", $("#kernelF-x").val());
      $.ajax({
        url: "/kernelFX",
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        type: "POST",
      });
    });

    $("#thresh1").on("input", () => {
      var formData = new FormData();
      formData.append("thresh", $("#thresh1").val());
      $.ajax({
        url: "/thresh",
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        type: "POST",
      });
    });

    $("#thresh2").on("input", () => {
      var formData = new FormData();
      formData.append("thresh", $("#thresh2").val());
      $.ajax({
        url: "/threshUpper",
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        type: "POST",
      });
    });
  </script>
</body>
